*.DS_Store
.DS_Store
/dist
/build
node_modules
built/
npm-debug.log*
yarn-debug.log*
test/unit/coverage
introduce.md
node_modules


# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
/.idea
/.vscode